*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
    padding: 1.5rem;
    padding-bottom: 100vh;
}
.parent{
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin-bottom: 24px;
}
.first-div-first{
    background-color: greenyellow;
    height: 70px;
    width: 70px;
    position: absolute;
    position: fixed;
    top: 250px;
    left: 1000px;
}

.first-div-second{
    background-color: rgba(117, 117, 250, 0.767);
    width: 80px;
    height:90px ;
}

.second-div-firts{
    background-color: greenyellow;
    height: 70px;
    width: 70px;
    position: sticky;
    top: 30px;
}
.third-div-first{
    background-color: greenyellow;
    height: 70px;
    width: 70px;
    position: sticky;
    top: 30px;
}
.fourth{
    background: linear-gradient(-30deg,red ,yellow,blue);
    padding: 1rem;
    height: 700px;
    position: static;
}
.fourth-div-firts{
    background-color: rgb(102, 245, 102);
    padding: 20px;
    width: 150px;
    height: 400px;
    position: sticky;
    /* position: static; */
    top: 10px;
    
}
.fourth-div-second{
    height: 70px;
    width: 70px;
    background-color: rgba(117, 117, 250, 0.767);
    position: sticky;
    top: 10px;
}